* {
    margin: 0%;
    padding: 0;
    /* Kiểu chử */
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background: url("https://images.complex.com/complex/image/upload/c_crop,h_879,w_1563,x_36,y_12/c_fill,dpr_auto,f_auto,fl_lossy,g_face,q_auto,w_1280/g9xn8eq39gvhlw2othad.jpg") no-repeat center center/cover;
    height: 100vh;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}


/* Ảnh chàn màn hình */

section .img-bg {
    position: relative;
    width: 50%;
    height: 100%;
}


/* Làm ảnh fit hơn */

section .img-bg img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Đặt nội dung theo hương thăng hàng và ngay ngắn */

section .noi__dung {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    z-index: 1;
    /* Ưu tiên phần form đăng nhập lên*/
    margin: auto;
}


/* Điều chỉnh của Trang Đăng Nhập */

section .noi__dung .form h2 {
    font-weight: 550;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #ed1c24;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 3px solid green;
}

section .noi__dung .form .input-form {
    margin-bottom: 10px;
}

section .noi__dung .form .input-form span {
    color: #607d8b;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}

section .noi__dung .form .input-form input {
    width: 97%;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
    padding: 10px 10px;
    /* Tạo độ lớn cho ô text && password */
    letter-spacing: 1px;
    border-radius: 30px;
    padding-left: 20px;
    /* tạo ra khoảng cách 20px trong lúc nhập text && password */
    border: 1px solid #607d8b;
    outline: none;
    color: #607d8b;
    background: transparent;
}

section .noi__dung .form .check-form span {
    color: #607d8b;
    font-weight: 500;
    font-size: 15px;
}

section .noi__dung .form .check-form button {
    width: 100.2%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    padding: 10px 20px;
    /* Điều chỉnh độ rộng của nút Đăng Nhập*/
    border-radius: 30px;
    cursor: pointer;
    background-color: #ed1c24;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), /* Tạo khoảng viền đen ở phần dưới nút Đăng Nhập*/
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

section .noi__dung .form .check-form button:hover {
    background: #cc5559;
}

section .noi__dung .form .check-form .login {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

section .noi__dung .form .link-form span {
    color: #ed1c24;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

section .noi__dung .form .link-form a {
    color: rgb(15, 19, 15);
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 15px;
}

section .noi__dung .form .link-form a:hover {
    color: rgb(69, 155, 69);
}

section .noi__dung .form h3 {
    margin: 80px 0 10px;
    /* Điều chỉnh khoảng cách đưa h3 xuông dưới 1 chút */
    font-size: 18px;
    font-weight: 600;
    margin-left: 90px;
    letter-spacing: 1px;
    color: #607d8b;
    text-align: center;
}

section .noi__dung .form .icon-form {
    align-items: center;
    justify-content: center;
    display: flex;
}

section .noi__dung .form .icon-form li {
    width: 46px;
    height: 50px;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .noi__dung .form .icon-form li i {
    margin-left: 10px;
    font-size: 20px;
}

section .noi__dung .form .icon-form li:nth-child(1) {
    color: #3b5999;
}

section .noi__dung .form .icon-form li:nth-child(2) {
    color: #dd4b39;
}

section .noi__dung .form .icon-form li:nth-child(3) {
    color: #30a8cc;
}

section .img-bg {
    position: absolute;
    /* Xếp chồng Hình lên nhau */
    width: 100%;
    height: 100%;
}

section .noi__dung .form {
    width: 100%;
    padding: 40px;
    margin: 70px;
    background: rgba(255 255 255 / 0.9);
}

section .noi__dung h3 {
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
    padding-right: 70px;
}